.venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
.DS_Store

rubert_tiny2_results/
rubert_base_results/
rubert_base_final_results/
rubert_base_results_merged/

models/
results/
checkpoints/
outputs/
logs/
cache/
data/
*.pt
*.bin
*.pth